{% extends '::base.html.twig' %}

{% block title %}{% trans %}Forgot your password{% endtrans %}{% endblock %}

{% block body %}

{% if error %}
<div class="alert alert-error">
    {% trans %}The entered email was not found{% endtrans %}.
</div>
{% endif %}

{% if form_errors(form) %}
<div class="alert alert-error">
    {{ form_errors(form) }}
</div>
{% endif %}

<form action="{{ path('user_forgot_password') }}" method="post" {{ form_enctype(form) }}>

    {{ form_errors(form.email) }}<br>
    <label>{% trans %}Email{% endtrans %}:</label>
    {{ form_widget(form.email) }}<br>

    {{ form_rest(form) }}

    <button type="submit" title="{% trans %}Submit{% endtrans %}">{% trans %}Submit{% endtrans %}</button>
</form>
{% endblock %}